@model MIST143_Traveler.MViewModel.COrderDetail
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Default";

}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">



<table id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.訂單.FirstOrDefault().訂單編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.訂單.FirstOrDefault().商品名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.訂單.FirstOrDefault().訂購日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.訂單.FirstOrDefault().購買金額)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.訂單.FirstOrDefault().訂單狀態)
            </th>
            <th>
                <input type="hidden"@Html.DisplayNameFor(model => model.訂單.FirstOrDefault().orderId)>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.訂單)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.訂單編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.訂購日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.購買金額)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.訂單狀態)
            </td>
            <td>
                <button class="delete" value="@item.orderId">取消</button>
            </td>
        </tr>
           }
    </tbody>

</table>
@*<button class="delete" value="@item.orderId">取消</button>*@

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

</script>

@section Scripts{
    <script>

    @{
        var OBJ = Accessor.HttpContext.Session.GetString(CDictionary.SK_Login);//取得登入者的SESSION
        var v = JsonSerializer.Deserialize<Member>(OBJ);
    }
    $(".delete").click(function () {
    const orderId = $(this)/*.closest("td").siblings().find(".OId")*/.val();
        $('#cont').load("@Url.Content("~/CustomerCenter/Order")" + `?MembersId=${@v.MembersId}&OrderId=${orderId}`);
    });


       

    </script>
    
}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>