@model MIST143_Traveler.MacViewModel.vViewModel

@{
    ViewData["Title"] = "testt";
}
@section Styles{
    <link href="@Url.Content("~/css/ProductListPageTP.css")" rel="stylesheet" />
}


<script>
    function OpenModal() {
        $('#overlay').show();
    }
    function CloseModal() {
        $('#overlay').hide();
    }

</script>
<article>

    <div class="article-test">
        <div style=" background: url('../Images/ProductListPageImages/category.jpg'); background-size: cover; height: 350px; ">
            <div class="rwd-experience-header-main-container">
                <div class="rwd-header-container">
                    <div class="experience-title-and-location-button">
                        <div class="experiences-title">
                            <span class="experiences-title-text">玩樂</span>
                        </div>
                        <h1 class="experiences-tips">
                            探索景點、行程等
                        </h1>
                        <div class="location-select-button desktop">
                            <div class="location-select-button_main">
                                <div class="location-select-button_main-select">
                                    <div>
                                        <img src="../Images/ProductListPageImages/maps.jpg" class="svg-icon">
                                        <span class="experiences-title-text">世界各地</span>
                                        <img src="../Images/ProductListPageImages/down.jpg" class="svg-icon">
                                    </div>
                                </div>
                                <div class="destination-tips-popup-new">
                                    <div class="destination-tips-new">
                                        <span class="destination-tips_title">想尋找<span style="color:#FF5B00;font-weight:bold;">台灣</span>人氣玩樂？</span><div class="destination-tips_buttons">
                                            <button data-v-0eaa3c40="" type="button" class="destination-tips_link klk-button klk-button-primary klk-button-mini">
                                                <!----> <!----> <span>
                                                    Go
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-search-box ban-sea-box">
                        <span class="bi-search"></span>
                        <input type="search"
                               name=""
                               id=""
                               placeholder="探索全球目的地/活動" />
                        <button type="button" onclick="location.href='@Url.Action("ProductListPage", "ProductListPage2")'">搜尋</button>

                    </div>
                </div>

            </div>
        </div>
        <div>
            <div class="expend_test">

                <div class="expend_test">


                </div>
            </div>

            <div>
                <div class="asdqwr">
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_all.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">總覽</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_theme_water_parks.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">樂園</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_camping_glamping.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">露營</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_boat_tours_cruises_yachts.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">觀光</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_museums_exhibitions.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">藝術</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_spa_massages.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">SPA</span>
                        </div>
                    </div>
                    <div class="card" style="width: 148px;height:117px;">
                        <div class="cardsize">
                            <img src="../Images/ProductListPageImages/icon_thrill_seeking_activities.jpg" class="cardimg-top" alt="...">
                            <span class="experience-menu-name">運動</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="d-flex justify-content-center" >
    <div class="置中">
        <h1>搜尋結果</h1>
    </div>
</div>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<body>
    @{
        var count = 0;
        foreach (var item in Model._ViewDetailViewModel)
        {
            count++;
            string productLink = Url.Content("~/Item?Index");

            <br />
            <br />
            <br />
            <div class="d-flex">
                <div class="card mb-md-auto" style="width:1000px">
                    <a href="@Url.Action("List" ,"shopping", new {TravelProductId=item.TravelProductId})">
                        <img src="https://localhost:44338/images/@item.TravelPicture1" style="height:150px" class="card-img-top">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TravelProductName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        @*<p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.PreparationDescription)</small></p>*@
                        <br />
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        }
    }
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center">
        <div class="置中">
            <h5>哎呀！已到頁面底部</h5>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item active" aria-current="page">
                    <span class="page-link">1</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">TOP</a></li>
            </ul>
        </nav>
    </div>
</body>
