@*@model IEnumerable<MIST143_Traveler.Models.TravelProduct>*@
@using MIST143_Traveler.Models
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@model List<TravelProduct>

@{
    ViewData["Title"] = "Default";
}


@{

    <div class="experience-activity-card-section j-experience-activity-card-section desktop">
        @foreach (var item in Model)
        {

            string imgurl = item.TravelPictures.Select(p => p.TravelPicture1).FirstOrDefault();

            <div class="asdqwr asd">
                <div class="card" style="">
                    <img class="card-img-top" style="height:143px;" src="https://localhost:44338/images/TravelProductPictures/@imgurl" alt="Card image cap">
                    <div class="card-body">
                        @{
                            if (Accessor.HttpContext.Session.Keys.Contains(CDictionary.SK_Login))
                            {
                                var OBJ = Accessor.HttpContext.Session.GetString(CDictionary.SK_Login);//取得登入者的SESSION
                                var v = JsonSerializer.Deserialize<Member>(OBJ);
                                <a href="@Url.Action("List", "shopping", new { TravelProductId = item.TravelProductId, v.MembersId })">
                                    <h3 class="activity-card-title">
                                        @item.TravelProductName
                                    </h3>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("List" ,"shopping", new {TravelProductId=item.TravelProductId})">
                                    <h3 class="activity-card-title">
                                        @item.TravelProductName
                                    </h3>
                                </a>
                            }
                        }


                        <div class="page-activity-recommend-score">

                            <span class="page-activity-recommend-review-number">

                                @item.TravelProductType.TravelProductTypeName

                            </span>

                        </div>

                        <div class="activity-card-bottom">
                            <div>
                                <div class="activity-card-price-box home-activity-card_price small-card">
                                    <span class="activity-card-price-box__sell-price dynamic-width-price">NT: @item.Price.ToString("###,###,##0")</span>
                                    @*<span class="activity-card-price-box__underline-price dynamic-width-price"></span>*@
                                </div>
                            </div>
                        </div>
                        <div class="tagging-wrap bottom-tag small-style">
                            <div class="tagging-box">
                                <div class="subInfoText">剩餘:  @item.Stocks / @item.Quantity 個位置</div>
                                @*<div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>
}


