@model MIST143_Traveler.Models.Member

@*@model MIST143_Traveler.MViewModel.CMemberView*@

@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@section Styles{

}
<link href="~/css/客服中心.css" rel="stylesheet" />


<link href="~/css/會員中心/會員中心左邊選項.css" rel="stylesheet" />

<body>

    <article>
        <div class="container p-5">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div>
                            <img src="@Url.Content("~/images/contact/大頭貼修改.png")" />

                        </div>



                        <div>
                            <div><button id="btncus" class="btn btn-outline-warning 按鈕顏色2 active 選單"><span class="bi bi-people 小圖示"></span>個人資訊</button></div>
                            <div>@*@Html.ActionLink("個人資訊", "List", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action active", aria_current = "true"  })*@</div>
                            <div><button id="btnorder" class="btn btn-outline-warning 按鈕顏色2"><span class=" bi bi-bag 小圖示"></span>訂單管理</button></div>
                            @*<div>@Html.ActionLink("訂單管理", "ProductManage", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>*@
                            <div><button id="btnlove" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-heart 小圖示"></span>我的最愛</button></div>
                            <div><button id="btnreview" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-chat-left-text 小圖示"></span>我的評論</button></div>
                            <div><button id="btnstar" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-star 小圖示"></span>Star積分</button></div>
                            <div><button id="btncop" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-wallet2 小圖示"></span>優惠票券</button></div>
                        </div>
                    </div>




                    <div>
                        <div><button id="btncus" class="btn btn-outline-warning 按鈕顏色2 active 選單"><span class="bi bi-people 小圖示"></span>個人資訊</button></div>
                        <div>@*@Html.ActionLink("個人資訊", "List", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action active", aria_current = "true"  })*@</div>
                        <div><button id="btnorder" class="btn btn-outline-warning 按鈕顏色2"><span class=" bi bi-bag 小圖示"></span>訂單管理</button></div>
                        @*<div>@Html.ActionLink("訂單管理", "ProductManage", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>*@
                        <div><button id="btnlove" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-heart 小圖示"></span>我的最愛</button></div>
                        <div><button id="btnreview" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-chat-left-text 小圖示"></span>我的評論</button></div>
                        <div><button id="btnstar" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-star 小圖示"></span>Star積分</button></div>
                        <div><button id="btncop" class="btn btn-outline-warning 按鈕顏色2"><span class="bi bi-wallet2 小圖示"></span>優惠票券</button></div>

                    </div>



                    <div class="row row-cols-1">
                        <div class="col 上面空間">
                            <h3>個人資訊</h3>
                            <p>以下資訊僅用於幫助你在付款時自動填寫你的個人資料，你的資料將會安全地保存且不會公開</p>
                        </div>
                        <div class="form-group">
                            <input asp-for="MembersId" name="MembersId" id="MembersId" class="form-control" type="hidden" />
                        </div>
                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 flex-fill">
                                <header>EMAIL</header>
                                <input class="form-control" type="email" asp-for="Email" placeholder="123" aria-label="default input example" name="EMAIL">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">

                            <div class="inputs p-2 flex-fill">
                                <header>名稱</header>
                                <input class="form-control" asp-for="MemberName" type="text" placeholder="名稱" id="MemberName" aria-label="default input example" name="MemberName">
                            </div>
                            <div class="inputs p-2 flex-fill">
                                <header>聯繫電話</header>
                                <input class="form-control" type="text" asp-for="Phone" placeholder="PHONE" id="Phone" aria-label="default input example" name="PHONE">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 ">
                                <header>居住縣市</header>
                                <select class="form-select" aria-label="Default select example" asp-for="CityId" id="CityId" name="CityName">
                                </select>
                            </div>


                            <div class="inputs p-2 flex-grow-1">
                                <header>地址</header>
                                <input class="form-control" type="text" asp-for="Address" id="Address" placeholder="北投區111號" aria-label="default input example" name="Address">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 flex-fill">
                                <header>重設密碼</header>
                                <input class="form-control" type="text" id="Password" placeholder="password" aria-label="default input example">
                            </div>

                            <div class="inputs p-2 flex-fill">
                                <header>再次確認密碼</header>
                                <input class="form-control" type="text" placeholder="password" aria-label="default input example">
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <div class="me-auto p-2">
                                <button type="submit" class="btn btn-warning 按鈕顏色" id="send" onclick="bb()">儲存</button>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </article>
</body>


@section Scripts{
    <script>
        const cont = document.querySelector("#cont")
        const Btnsave = document.querySelector("#send")
        const bb = () => {

            var postData = {
               CityId: $("#CityId").val(),
               Address: $("#Address").val(),
               MemberName: $("#MemberName").val(),
               Phone: $("#Phone").val(),
               MembersId: $("#MembersId").val(),
               Password: $("#Password").val()
            };
            //console.log(123)
             $.ajax({
                url: '@Url.Action("SaveCusInfo", "CustomerCenter")',
                method: 'Post',
                dataType: 'Json',
                 data: { inCus: postData },
                success: function (datas) {
                    if (!datas.res) {
                        Swal.fire({
                            icon: 'error',
                            title: '輸入錯誤',
                            text: datas.msg,

                        })
                        return;
                    }
                    Swal.fire(
                        '您的變更已儲存!',
                        '讚啦!',
                        'success'
                    )
                }
            })
        }
         //抓資料庫城市資料
        const selCity = document.querySelector("#CityId")
          async function LoadCities() {
          let response = await fetch("@Url.Content("~/CustomerCenter/city")")
          let datas = await response.json()
          datas.forEach(city => {
          const opt = new Option(city, city)
          selCity.options.add(opt)
          })
             }
           LoadCities()



        @{var OBJ = Accessor.HttpContext.Session.GetString(CDictionary.SK_Login);//取得登入者的SESSION
                var v = JsonSerializer.Deserialize<Member>(OBJ); }
        $('#btncus').click(function () {

            $('#cont').load('@Url.Action("CustomerInfo","CustomerCenter",new {v.MembersId})')

             $(this).addClass("btn btn-outline-warning 按鈕顏色2 active")//會員資訊按鈕
             $('#btnlove').removeClass("active")
             $('#btnreview').removeClass("active")
             $('#btnstar').removeClass("active")
             $('#btncop').removeClass("active")
             $('#btnorder').removeClass("active")
    })

        @*$('#btnorder').click(function () {
            $('#cont').load(
            $.ajax({
            url:'@Url.Action("Order","CustomerCenter",new {v.MembersId})',
            method: 'Post',
            dataType: 'int',
            )
        })*@
        @*const btnord = document.querySelector("#btnorder")
        btnord.addEventListener("click", async () => {
            let response = await fetch('@Url.Action("Order","CustomerCenter",new {v.MembersId})')
            let result = await response.json()
            
            let htmldatas = result.map(data => {
                return (`<tr>${data[0]}</tr>`)
            })
            console.log(result)
            
            console.log(htmldatas[0])
            cont.innerHTML = htmldatas
        })*@

        @*$('#btnorder').click(function () {
            $.getJSON('@Url.Content("~/CustomerCenter/Order")', { "MembersId": "v.MembersId" }, function (datas) {
                console.log(datas)
            })
        })*@

        $('#btnorder').click(function () {
        $('#cont').load('@Url.Action("Order","CustomerCenter",new {v.MembersId})')
        $(this).addClass("btn btn-outline-warning 按鈕顏色2 active")//訂單按鈕
        $('#btnlove').removeClass("active")
        $('#btnreview').removeClass("active")
        $('#btnstar').removeClass("active")
        $('#btncop').removeClass("active")
        $('#btncus').removeClass("active")
    })

    $('#btnlove').click(function () {
        $('#cont').load('@Url.Content("~/CustomerCenter/Myfavorites")')
        $(this).addClass("btn btn-outline-warning 按鈕顏色2 active")
        $('#btnorder').removeClass("active")
        $('#btnreview').removeClass("active")
        $('#btnstar').removeClass("active")
        $('#btncop').removeClass("active")
        $('#btncus').removeClass("active")
        //我的最愛按鈕
        })

        $('#btnreview').click(function () {
        $('#cont').load('@Url.Content("~/CustomerCenter/Review")')
            $(this).addClass("btn btn-outline-warning 按鈕顏色2 active") //我的評論按鈕
            $('#btnorder').removeClass("active")
            $('#btnlove').removeClass("active")
            $('#btnstar').removeClass("active")
            $('#btncop').removeClass("active")
            $('#btncus').removeClass("active")
        })

        $('#btnstar').click(function () {
        $('#cont').load('@Url.Content("~/CustomerCenter/Star")')
            $(this).addClass("btn btn-outline-warning 按鈕顏色2 active") //Star
            $('#btnorder').removeClass("active")
            $('#btnlove').removeClass("active")
            $('#btnreview').removeClass("active")
            $('#btncop').removeClass("active")
            $('#btncus').removeClass("active")
        })

        $('#btncop').click(function () {
        $('#cont').load('@Url.Content("~/CustomerCenter/Coupon")')
            $(this).addClass("btn btn-outline-warning 按鈕顏色2 active") //優惠券按鈕
            $('#btnorder').removeClass("active")
            $('#btnlove').removeClass("active")
            $('#btnreview').removeClass("active")
            $('#btnstar').removeClass("active")
            $('#btncus').removeClass("active")
        })





    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

