@model IEnumerable<MIST143_Traveler.ShoppingViewModel.CshoppingCartViewModel>

@{
    ViewData["Title"] = "testPage";
}

<h1>testPage</h1>

@foreach (var item in Model)
{
    <h3>@item.TravelProductId</h3>
    <h3>@item.TravelProductName</h3>
    <h3>@item.Count</h3>
    <h3>@item.Price</h3>
    <h3>@item.Productpicture</h3>
}
