@*@addTagHelper *, MIST143_Traveler*@
@model List<MIST143_Traveler.Models.TravelProduct>
@section Styles{
    <link href="@Url.Content("~/css/ProductListPage2.css")" rel="stylesheet" />
}




@*<vc:productlistpagi page="5"></vc:productlistpagi>*@
<article>
    <div style="background: url('../Images/ProductListPageImages/category.jpg');background-size: cover;height: 216px;top: 50%;">
        <div class="rwd-experience-header-main-container">
            <div class="rwd-header-container">
                <div class="experience-title-and-location-button">
                    <div class="content">
                        <h1 class="content_text">玩樂</h1>
                        <p>探索景點、行程等</p>
                    </div>
                </div>
                <div class="banner-search-box ban-sea-box ban-box">
                    <span class="bi-search"></span>
                    <input type="text" name="keyword" id="text" placeholder="探索全球目的地/活動" />
                    @*<a href="@Url.Action("ProductListPage","ProductListPage2",new {})">搜尋</a>*@
                    <button type="button" onclick="show()" id="btn">搜尋</button>
                </div>
            </div>

        </div>
    </div>
    <div class="search-page-breadcrumb search-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")">首頁</a></li>
                <li class="breadcrumb-item"><a href="@Url.Content("~/ProductListPage/ProductListHomePage")">玩樂</a></li>
                <li class="breadcrumb-item active" aria-current="page">搜尋結果</li>
            </ol>
        </nav>
    </div>
    <div class="main-content search-main-content">
        <p class="search-result-title">以下是與「 <a id="txt">@ViewBag.keyword</a>」的體驗</p>


       
            <div class="category-tree-and-activity-list js-category-tree-and-activity-list">
                <div class="destinations-category-tree">
                    <div class="contain containerp">
                        <div class="tree-list-item">
                            <div class="title">目的地</div>
                            <div class="js-range-tree-spm">
                                <div class="klk-tree klk-tree-checkable klk-tree-multiple">
               @{
                <div class="accordion" id="accordionPanelsStayOpenExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                東亞
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                               <div class="form-check">
                                                   <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="台灣">
                                                   <label id="c1" value="台灣">台灣</label>(<span></span>)
                                               </div>
                                               <div class="form-check">
                                                   <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="韓國">
                                                   <label id="c2" value="韓國">韓國</label>(<span></span>)
                                               </div>
                                               <div class="form-check">
                                                   <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="日本">
                                                   <label id="c3" value="日本">日本</label>(<span></span>)
                                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                東南亞
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                               <div class="form-check">
                                                   <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="越南" id="flexCheckDefault">
                                                   <label id="c4" value="越南">越南</label>(<span></span>)
                                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                北美洲
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="美國" id="flexCheckDefault">
                                    <label id="c5" value="美國">美國</label>(<span></span>)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                北歐
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                               <div class="form-check">
                                                                  <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="冰島" id="flexCheckDefault">
                                                   <label id="c6" value="冰島">冰島</label>(<span></span>)
                                               </div>
                                               <div class="form-check">
                                                                  <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="芬蘭" id="flexCheckDefault">
                                                   <label id="c7" value="芬蘭">芬蘭</label>(<span></span>)
                                               </div>
                                <div class="form-check">
                                                   <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="挪威" id="flexCheckDefault" disabled>
                                    <label>挪威</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault">
                                    <label>丹麥</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                西歐
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault">
                                    <label>英國</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault">
                                    <label>法國</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault" disabled>
                                    <label>荷蘭</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault" disabled>
                                    <label>愛爾蘭</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                中歐
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault">
                                    <label>德國</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault" disabled>
                                    <label>奧地利</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault">
                                    <label>瑞士</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                                        }
                                    </div>

                            </div>
                            <div class="show-all">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#loginmodal" class="klk-button klk-button-outlined klk-button-small klk-button-block">
                                    <span>
                                        查看全部
                                    </span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-right-head ">

                    <div class="basic-filter section-filter" style="width:800px;">
                        <div class="basic-filter-left">
                            <div class="basic-filter-left">

                                <div>
                                    <label style="width:90%" for="start">選擇遊玩日期範圍:</label>

                                    <input type="date" @*onclick="datechoise()"*@ id="start123123" name="trip-start"
                                           min="2022-10-01" max="2022-12-31" class="ipwidth" />
                                    <input type="date" onclick="datechoise()"
                                    id="start" name="trip-start"
                                min="" max="2022-12-31" class="ipwidth" />
                                    <button style="width:4%;padding:1%" type="button" id="showw">確定</button>
                                </div>

                                <div class="d-flex justify-content-end" @*style="border:1px red solid"*@>
                                    <label for="list">排序方式:</label>
                                    <select name="list" id="choise">
                                        <option value="1">最推薦</option>
                                        <option value="2">最低價</option>
                                        <option value="3">最熱賣</option>
                                        <option value="4">新上架</option>
                                    </select>
                                </div>
                                @*<div id="aeio">

                                </div>*@

                            </div>
                        </div>


                    </div>
                    <div class="search-result-activity-containe asd" id="ans">

                        @for (int i = 0; i < ViewBag.Count; i++)
                        {
                            @await Component.InvokeAsync("Productlistpagi", new { tr = Model[i] })
                        }
                    </div>

                </div>
            </div>
      
    </div>
    <div class="modal fade" id="loginmodal">
        <div class="modal-dialog klk-modal-wrapper" z-index:2000;>
            <div class="modal-content klk-modal klk-modal-scrollable klk-fade klk-modal-large klk-modal-overflow-y" @*style="padding-bottom: 0px; width: 900px; max-height: 457px;"*@>
                <i class="klk-modal-close klk-icon klk-icon-icon_navigation_close klk-modal-close" aria-lable="Close">
                    <svg>
                        <line x1="0" x2="20" y1="0" y2="20" style="stroke: white; stroke-width: 2">
                            <use xlink:href="#klk-icon-icon_navigation_close"></use>
                        </line>
                        <line x1="0" x2="20" y1="20" y2="0" style="stroke: white; stroke-width: 2"></line>
                    </svg>
                </i>
                <div class="modal-body klk-modal-body">
                    <div class="search" style="width:97%;">
                        <div class="search-input-desktop">
                            <input class="search" style="width:95%" placeholder="搜尋目的地" />
                            <span class="bi-search"></span>
                        </div>
                    </div>
                    <div class="tree">
                        <div data-spm-module="DestinationFilter?trg=manual&ext={" country_id":"","city_id":"19"}" class="js-range-tree-spm">
                            <div class="klk-tree-node">
                                <div class="klk-tree klk-tree-checkable klk-tree-multiple">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item d-flex aitemhi">

                                            @*<button class="accordion-button aitem" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOn" aria-expanded="true" aria-controls="panelsStayOpen-collapseOn">
                                                    東亞
                                                </button>
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOn"> </h2>
                                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOn">
                                                    <div class="accordion-body">
                                                        <strong></strong>
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer js-tree-modal-confirm">
                        <button class="klk-button klk-button-primary" color="primary" data-spm-item="__default">
                            <span>確認</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="viewBag d-none">@ViewBag.keyword</div>

    @section Scripts{
        <script>
            function QQ() {
                $.get("@Url.Action("getcount", "ProductListPage2")",
                    function (data) {
                        console.log(data)
                        $(`#c${1}`).next().text(5)
                        for (let i of data) {
                            for (let q = 1; q <=7 ; q++) {

                                var s = $(`#c${q}`)
                                var sb = $(`#c${q}`).next()
                                if (i.coutryname == s.html())
                                    sb.text(i.count)
                            }
                        }
                    }
                )
            }

        $("#showw").click(function () {
            var aa = $("#start123123").val();
            var dd = $("#start").val();
            var url = "@Url.Content("~/ProductListPage2/selecter")"
            var day = `?date=${aa}`;
            var day2 = `&date2=${dd}`;
            console.log(aa);
            $("#ans").load(url + day + day2);

        })


        </script>

        <script>

            @*const select = document.querySelector("#choise");
            sel.addEventListener("change", () => {

                var url = "@Url.Content("~/ProductListPage2/selecter")"
                var aa = $("#start123123").val()
                var nme = `&date=` + aa
                var index = sel.selectedIndex
                var day = `?number=${index}`;
                $("#ans").load(url + day + nme);

            })*@
            
            $(".flexCheckDefault").click(function () {
                var ii = $.map($(".flexCheckDefault:checked"), function (data) {
                      return data.value;
                  });
                var url = "@Url.Content("~/ProductListPage2/see")"
                var check = `?contry=${ii}`;
                console.log(ii);
                $("#ans").load(url + check);

              })


            const sel = document.querySelector("#choise");
            sel.addEventListener("change", () => {

                var url = "@Url.Content("~/ProductListPage2/filter")"
                var qq = $("#text").val()
                var name = `&keyword=` + qq
                var index = sel.selectedIndex
                var num = `?number=${index}`;
                $("#ans").load(url + num + name);

            })

            $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
            })

            $(function () {
                var qq = $(".viewBag").html();
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                QQ()
            })



        function show(){
            var content = document.getElementById("text");
            document.getElementById("txt").textContent = content.value;
            }
            let arr = [];
            $('.form-check-input').click(function (event) {
                let targ = $(event.target);
                let lage = targ.prop('checked');
                console.log(lage);
                if (lage) {
                    arr.push(targ.val());

                }
                else {
                    arr.splice(arr.indexOf(targ.val()),1)

                }
                console.log(arr);
            });

            //function happy() {
            //    $.post(`/ProductListPage2/filter`, { keyword: arr }, function (data) {


            //    })
            //}
            //$("#flexCheckDefault").click(function () {
            //    var checkvalue = $(this).val();
            //    alert(checkvalue);
            //});

            @*var data = {
                info: $("input[type=checkbox][name=info]:checked").val(),

            }
            console.log(data)
            $.ajax({
                url: '@Url.Action("filter", "ProductListPage2")',
                method: 'Post',
                dataType: 'Json',
                data: { keyword: data },
                success: function (datas) {
                    if (!datas.res) {
                        Swal.fire({
                            icon: 'error',
                            title: '輸入錯誤',
                            text: datas.msg,

                        })
                        return;
                    }
                    Swal.fire(
                        '註冊成功!',
                        '讚啦!',
                        'success'

                    )
                }
                }
            })*@

            @*var div = decodeURIComponent($('input[type=checkbox]').serialize());
            $.ajaxSetup({
                type: 'GET',
                url: '@Url.Action("filter", "ProductListPage2")',
                dataType: 'json',
                data: {''}
            })*@


            @*$(document).ready(function () {
                $("input:checkbox").change(function () {
                    var isChecked = $("input:checkbox").is(":checked") ? 1 : 0;
                    $.ajax({
                        url: '@Url.Action("filter", "ProductListPage2")',
                        type: 'POST',
                        data: { strID: $("input:checkbox").attr("id"), strState: isChecked }
                    });
                });
            });*@

        </script>

    }

</article>
