@*@addTagHelper *, MIST143_Traveler*@
@model List<MIST143_Traveler.Models.TravelProduct>
@section Styles{
    <link href="@Url.Content("~/css/ProductListPage2.css")" rel="stylesheet" />
}




@*<vc:productlistpagi page="5"></vc:productlistpagi>*@
<article>
    <div style="background: url('../Images/ProductListPageImages/category.jpg');background-size: cover;height: 216px;top: 50%;">
        <div class="rwd-experience-header-main-container">
            <div class="rwd-header-container">
                <div class="experience-title-and-location-button">
                    <div class="content">
                        <h1 class="content_text">玩樂</h1>
                        <p>探索景點、行程等</p>
                    </div>
                </div>
                <div class="banner-search-box ban-sea-box ban-box">
                    <span class="bi-search"></span>
                    <input type="text" class="form-control" name="keyword" id="text" placeholder="探索全球目的地/活動" />

                    <button type="button" onclick="show()" id="btn">搜尋</button>
                </div>

            </div>

        </div>
    </div>
    <div class="search-page-breadcrumb search-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")">首頁</a></li>
                <li class="breadcrumb-item"><a href="@Url.Content("~/ProductListPage/ProductListHomePage")">玩樂</a></li>
                <li class="breadcrumb-item active" aria-current="page">搜尋結果</li>
            </ol>
        </nav>
    </div>
    <div class="main-content search-main-content">
        <p class="search-result-title">以下是與「<a id="txt">@ViewBag.keyword</a>」的體驗，共找到 <a id="ans2">@ViewBag.numa</a> 個方案</p>



        <div class="category-tree-and-activity-list js-category-tree-and-activity-list">
            <div class="destinations-category-tree">
                <div class="contain containerp">
                    <div class="tree-list-item">
                        <div class="title">目的地</div>
                        <div class="js-range-tree-spm">
                            <div class="klk-tree klk-tree-checkable klk-tree-multiple">
                                @{
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                    東亞(<span id="cc1">@ViewBag.numa</span>)
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="台灣">
                                                        <label value="台灣">台灣</label>(<span id="c1">@ViewBag.numa</span>)
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="韓國">
                                                        <label value="韓國">韓國</label>(<span id="c2">@ViewBag.rew</span>)
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="日本">
                                                        <label value="日本">日本</label>(<span id="c3">@ViewBag.rew</span>)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                    東南亞(<span id="cc2">@ViewBag.rew</span>)
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                                <div class="accordion-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="越南" id="flexCheckDefault">
                                                        <label value="越南">越南</label>(<span id="c4">@ViewBag.rew</span>)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                    北美洲(<span id="cc3">@ViewBag.rew</span>)
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                                <div class="accordion-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input flexCheckDefault" type="checkbox" name="info[]" value="美國" id="flexCheckDefault">
                                                        <label value="美國">美國</label>(<span id="c5">@ViewBag.rew</span>)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                                <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                                    歐洲(<span id="cc4">@ViewBag.rew</span>)
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                                <div class="accordion-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input dfhue disabled" type="checkbox" name="info[]" value="" id="flexCheckDefault" disabled>
                                                        <label class="dfhue disabled">英國</label>(<span id="c6">@ViewBag.rew</span>)
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="info[]" value="" id="flexCheckDefault" disabled>
                                                        <label class="dfhue disabled">法國</label>(<span id="c7">@ViewBag.rew</span>)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                        </div>
                        <div class="show-all">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#loginmodal" class="klk-button klk-button-outlined klk-button-small klk-button-block">
                                <span>
                                    查看全部
                                </span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="section-right-head ">

                <div class="basic-filter section-filter" style="width:800px;">
                    <div class="basic-filter-left">
                        <div class="basic-filter-left">
                            <div>
                                <nav class="navbar navbar-expand-lg navbar-dark " @*style="background-color:white"*@>
                                    <div class="container-fluid">

                                        <label style="width:20%" for="start">選擇遊玩日期範圍:</label>

                                        <input type="date" @*onclick="datechoise()"*@ id="start123123" name="trip-start"
                                                class="ipwidth" />
                                        <input type="date" onclick="datechoise()"
                                               id="start" name="trip-start"
                                              class="ipwidth" />
                                        <button style="width:8%;padding:1%" type="button" id="showw">確定</button>
                                        <select class="form-select djfdd" id="productid" aria-label="Default select example">
                                            <option selected>選擇方案</option>
                                            <option value="1">1日遊</option>
                                            <option value="2">多日遊</option>
                                            <option value="3">單人旅行</option>
                                            <option value="4">雙人旅行</option>
                                            <option value="5">三人旅行</option>
                                            <option value="6">美食</option>
                                            <option value="7">家庭旅遊</option>
                                            <option value="8">活動展覽</option>
                                        </select>

                                        <div class="d-flex justify-content-end" @*style="border:1px red solid"*@>
                                            <label for="list">排序方式:</label>
                                            <select name="list" id="choise">
                                                <option value="1">最推薦</option>
                                                <option value="2">最低價</option>
                                                <option value="3">最熱賣</option>
                                                <option value="4">新上架</option>
                                            </select>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                            @*<div id="aeio">

                                </div>*@

                        </div>
                    </div>


                </div>
                <div class="search-result-activity-containe asd" id="ans">

                    @for (int i = 0; i < ViewBag.Count; i++)
                    {
                        @await Component.InvokeAsync("Productlistpagi", new { tr = Model[i] })
                    }
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="loginmodal">
        <div class="modal-dialog klk-modal-wrapper" z-index:2000;>
            <div class="modal-content klk-modal klk-modal-scrollable klk-fade klk-modal-large klk-modal-overflow-y" @*style="padding-bottom: 0px; width: 900px; max-height: 457px;"*@>
                <i class="klk-modal-close klk-icon klk-icon-icon_navigation_close klk-modal-close" aria-lable="Close">
                    <svg>
                        <line x1="0" x2="20" y1="0" y2="20" style="stroke: white; stroke-width: 2">
                            <use xlink:href="#klk-icon-icon_navigation_close"></use>
                        </line>
                        <line x1="0" x2="20" y1="20" y2="0" style="stroke: white; stroke-width: 2"></line>
                    </svg>
                </i>
                <div class="modal-body klk-modal-body">
                    <div class="search" style="width:97%;">
                        <div class="search-input-desktop">
                            <input class="search" style="width:95%" placeholder="搜尋目的地" />
                            <span class="bi-search"></span>
                        </div>
                    </div>
                    <div class="tree">
                        <div data-spm-module="DestinationFilter?trg=manual&ext={" country_id":"","city_id":"19"}" class="js-range-tree-spm">
                            <div class="klk-tree-node">
                                <div class="klk-tree klk-tree-checkable klk-tree-multiple">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item d-flex aitemhi">

                                        
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer js-tree-modal-confirm">
                        <button class="klk-button klk-button-primary" color="primary" data-spm-item="__default">
                            <span>確認</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="viewBag d-none">@ViewBag.keyword</div>


    @section Scripts{
        <script>



        $("#showw").click(function () {
            var aa = $("#start123123").val();
            var dd = $("#start").val();
            var url = "@Url.Content("~/ProductListPage2/selecter")"
            var day = `?date=${aa}`;
            var day2 = `&date2=${dd}`;
            console.log(aa);
            $("#ans").load(url + day + day2);

        })
          

        </script>
       
        <script>
             @*const select = document.querySelector("#choise");
            sel.addEventListener("change", () => {

                var url = "@Url.Content("~/ProductListPage2/selecter")"
                var aa = $("#start123123").val()
                var nme = `&date=` + aa
                var index = sel.selectedIndex
                var day = `?number=${index}`;
                $("#ans").load(url + day + nme);

            })*@
            $(document).ready(function () {
                var date = new Date();

                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;

                var today = year + "-" + month + "-" + day;
                $("#start123123").attr("value", today);
            //    $("#start").attr("value", $("#start123123").attr("value"), today)
            });
            var today = new Date().toJSON().slice(0, 10);
            var date = $('#start123123');
            date.attr('min', today);



            var today2 = new Date().toJSON().slice(0, 10);

            var date2 = $('#start');
            date2.attr('min', today2);




            $(".flexCheckDefault").click(function () {
                var ii = $.map($(".flexCheckDefault:checked"), function (data) {
                      return data.value;
                  });
                var url = "@Url.Content("~/ProductListPage2/getCountryCount")"
                var check = `?country=${ii}`;
                console.log(ii);
                var qq = $("#text").val()
                var name = `&keyword=` + qq
                $("#ans").load(url + check+name);

            })
             $(".flexCheckDefault").click(function () {
                var ii = $.map($(".flexCheckDefault:checked"), function (data) {
                      return data.value;
                  });
                var url = "@Url.Content("~/ProductListPage2/see")"
                var check = `?contry=${ii}`;
                console.log(ii);
                $("#ans").load(url + check);

              })
             const prodid = document.querySelector("#productid");
            prodid.addEventListener("change", () => {
                var url = "@Url.Content("~/ProductListPage2/product")"
                var ied = prodid.selectedIndex
                var num = `?numid=${ied}`;
                console.log(num);
                $("#ans").load(url + num);
            })



            const sel = document.querySelector("#choise");
            sel.addEventListener("change", () => {

                var url = "@Url.Content("~/ProductListPage2/filter")"
                var qq = $("#text").val()
                var name = `&keyword=` + qq
                var index = sel.selectedIndex
                var num = `?number=${index}`;
                $("#ans").load(url + num + name);

            })

            $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountt", { keyword: qq }, function (data) {
                    $("#ans2").html("");
                    $("#ans2").html(data);
                })

            })
            $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCounty", { keyword: qq }, function (data) {
                    $("#cc1").html("");
                    $("#cc1").html(data);
                })
            })
             $(".flexCheckDefault").click(function () {
                var ii = $.map($(".flexCheckDefault:checked"), function (data) {
                      return data.value;
                  });
                var url = "@Url.Content("~/ProductListPage2/see")"
                var check = `?contry=${ii}`;
                console.log(ii);
                $("#ans").load(url + check);

              })
             $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountyt", { keyword: qq }, function (data) {
                    $("#c1").html("");
                    $("#c1").html(data);
                })
            })
             $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountyk", { keyword: qq }, function (data) {
                    $("#c2").html("");
                    $("#c2").html(data);
                })
            })
             $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountyj", { keyword: qq }, function (data) {
                    $("#c3").html("");
                    $("#c3").html(data);
                })
            })
              $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountd", { keyword: qq }, function (data) {
                    $("#cc2").html("");
                    $("#cc2").html(data);
                    $("#c4").html("");
                    $("#c4").html(data);
                })
            })

              $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCountb", { keyword: qq }, function (data) {
                    $("#cc3").html("");
                    $("#cc3").html(data);
                    $("#c5").html("");
                    $("#c5").html(data);
                })

            })
             $("#btn").click(function () {
                var qq = $("#text").val()
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)
                $.getJSON("/ProductListPage2/getSearchCounto", { keyword: qq }, function (data) {
                    $("#cc4").html("");
                    $("#cc4").html(data);
                    $("#c6").html("");
                    $("#c6").html(data);
                    $("#c7").html("");
                    $("#c7").html(data);
                })

            })


            $(function () {
                var qq = $("#ans").count()
                var url = "@Url.Content("~/ProductListPage2/countall")"
                var num = `?cont=` + qq
                $("#ans").load(url + num)
                console.log(num)
            })






            $(function () {
                var qq = $("#ans").count()
                var url = "@Url.Content("~/ProductListPage2/countall")"
                var num = `?cont=` + qq
                $("#ans").load(url + num)
                console.log(num)
            })






            $(function () {
                var qq = $(".viewBag").html();
                var url = "@Url.Content("~/ProductListPage2/filter")"
                var name = `?keyword=` + qq
                $("#ans").load(url + name)




               /* QQ()*/
            })



        function show(){
            var content = document.getElementById("text");
            document.getElementById("txt").textContent = content.value;
            }
            let arr = [];
            $('.form-check-input').click(function (event) {
                let targ = $(event.target);
                let lage = targ.prop('checked');
                console.log(lage);
                if (lage) {
                    arr.push(targ.val());

                }
                else {
                    arr.splice(arr.indexOf(targ.val()),1)

                }
                console.log(arr);
            });


        </script>

    }

</article>
